body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  font-size: 30px;
  padding:10%;
  
}
.btn1{
  width: 100%;
  padding: 7px;
  font-size: 20px;
  background-color:darkgray; 
}
.btn1:hover{
  background-color: aqua;
}

.navbar{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width:80%;
  z-index: 10;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.sections{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sections>li{
  margin: auto 30px;
}
.profile{
  padding-top: 100px;
}